h2 {
    color: blue;
    text-align: center;
}

h3 {
    text-align: center;
}

.fliph {
    display: inline-block;
    vertical-align: top;
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}

p {
    font-size: larger;
}

body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    padding-top: 80px;
}

.mood-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 120px;
    padding-bottom: 15px;
    max-width: 100%;
}


.display-mood {
    padding-bottom: 15px;
}

.about {
    text-align: center;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt-box-header {
    text-align: center;
}

.prompt-box {
    margin-bottom: 10px;
}

.prompt-input {
    margin-left: 62px;
    margin-right: 62px;
}