h2 {
    color: blue;
    text-align: center;
}

h3 {
    text-align: center;
}

.fliph {
    display: inline-block;
    vertical-align: top;
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}

p {
    font-size: larger;
}

body {
    background-image: url('../images/frame.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    padding-top: 80px;
}

.mood-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    padding-bottom: 15px;
}


.display-mood {
    padding-bottom: 15px;
}

.about {
    margin-top: 70px;
}